body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page { 
  text-align: center;
  display: ce;
}

.email-input {
  display: flexbox;
  margin-top: 200px;
  background-color: aqua;
  width: 150px;
  margin-left: 2px;
}

.password-input {
  display: flexbox;
  margin-top: 2px;
  background-color: aqua;
  width: 150px;
}

.button-login {
  width: 154px;
  margin-left: 45px;
  background-color: green;
}
